@charset "UTF-8";
@media print, screen and (min-width: 768px) { ._sp { display: none; } }

._pc { display: none; }

@media print, screen and (min-width: 768px) { ._pc { display: block; } }

html { font-size: 62.5%; }

body { font-size: 1.8rem; font-weight: bold; font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif; background-color: #000; color: #fff; text-align: center; }

img { width: 100%; height: auto; }

a { text-decoration: none; color: #fff; display: inline-block; }

a:hover { opacity: 0.7; -webkit-transition: 0.3s; transition: 0.3s; }

.header { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; position: fixed; z-index: 5; width: 100%; height: 94px; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; background-color: #4d0000; }

.header__logo { width: 188px; height: 70px; margin-left: 30px; }

.header__nav { margin-left: auto; }

.header__nav .nav { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; list-style: none; }

@media screen and (max-width: 768px) { .header__nav .nav { display: none; } }

.header__nav .nav .nav__item { margin-right: 25px; }

.header__nav .nav .nav__item:last-child { margin-right: 33px; }

.header__nav .open-btn { display: none; /* ボタン内側の基点となるためrelativeを指定 */ position: relative; cursor: pointer; width: 52px; height: 30px; border-radius: 3px; margin-right: 30px; /* ボタン内側 */ /* activeクラスが付与されると線が回転して×に */ }

@media screen and (max-width: 768px) { .header__nav .open-btn { display: block; } }

.header__nav .open-btn span { display: inline-block; -webkit-transition: all 0.4s; transition: all 0.4s; /* アニメーションの設定 */ position: absolute; height: 3px; border-radius: 3px; background: white; width: 100%; }

.header__nav .open-btn span:nth-of-type(1) { top: 0%; left: 0%; }

.header__nav .open-btn span:nth-of-type(2) { top: 50%; left: 0%; }

.header__nav .open-btn span:nth-of-type(3) { top: 100%; left: 0%; }

.header__nav .open-btn.active span:nth-of-type(1) { -webkit-transform: translateY(15px) rotate(-45deg); transform: translateY(15px) rotate(-45deg); width: 52px; }

.header__nav .open-btn.active span:nth-of-type(2) { opacity: 0; /* 真ん中の線は透過 */ }

.header__nav .open-btn.active span:nth-of-type(3) { -webkit-transform: translateY(-15px) rotate(45deg); transform: translateY(-15px) rotate(45deg); width: 52px; }

.header__open-nav { position: fixed; top: 0; left: 0; -webkit-transform: translateY(-100%); transform: translateY(-100%); opacity: 0; -webkit-transition: -webkit-transform .3s opacity .3s; transition: -webkit-transform .3s opacity .3s; transition: transform .3s opacity .3s; transition: transform .3s opacity .3s, -webkit-transform .3s opacity .3s; z-index: 2; width: 100%; text-align: center; background-color: #000000CC; }

.header__open-nav .open-nav { padding: 40px 0; }

.header__open-nav .open-nav__item { font-size: 3rem; margin-bottom: 20px; }

.header__open-nav .open-nav__item:last-child { margin-bottom: 0; }

.header__open-nav.open { -webkit-transform: translateY(94px); transform: translateY(94px); opacity: 1; -webkit-transition: -webkit-transform .3s opacity .3s; transition: -webkit-transform .3s opacity .3s; transition: transform .3s opacity .3s; transition: transform .3s opacity .3s, -webkit-transform .3s opacity .3s; }

body.noscroll { overflow: hidden; }

.title { font-size: 3.2rem; }

.sub-title { font-size: 2rem; font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif; }

.fv { width: 100%; height: 768px; background-image: url(../../image/top-bg.png); background-repeat: no-repeat; background-position: center center; background-size: cover; }

@media screen and (max-width: 768px) { .fv { background-image: url(../../image/top-mv_sp.png); } }

.fv h2 { font-size: 5rem; padding-top: 364px; }

.features__title { margin-top: 61px; }

@media screen and (max-width: 768px) { .features__title { margin-top: 54px; } }

.features__sub-title { margin-top: 40px; }

@media screen and (max-width: 768px) { .features__sub-title { margin-top: 34px; } }

.features .media-wrapper { margin-top: 60px; }

.features .media-wrapper .media { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; }

@media screen and (max-width: 768px) { .features .media-wrapper .media { display: block; } }

.features .media-wrapper .media__img-wrapper { width: 50%; }

@media screen and (max-width: 768px) { .features .media-wrapper .media__img-wrapper { width: 100%; } }

.features .media-wrapper .media__img { width: 100%; }

.features .media-wrapper .media__body { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; margin-left: 57px; margin-right: 70px; }

@media screen and (max-width: 768px) { .features .media-wrapper .media__body { margin-left: 97px; margin-right: 97px; margin-bottom: 74px; } }

.features .media-wrapper .media__body > *:last-child { margin-bottom: 0; }

.features .media-wrapper .media__title { text-align: left; margin-top: 30px; font-size: 2.8rem; line-height: 4.8rem; }

@media screen and (max-width: 768px) { .features .media-wrapper .media__title { font-size: 2.8rem; line-height: 4.8rem; } }

.features .media-wrapper .media__text { text-align: left; margin-top: 50px; }

@media screen and (max-width: 768px) { .features .media-wrapper .media__text { font-size: 1.8rem; line-height: 2.6rem; } }

.features .media-wrapper .media__link { display: inline-block; text-align: center; }

.features .media-wrapper .media__btn { margin-top: 60px; }

.features .media-wrapper .media--reverse { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }

.features .media-wrapper .media--reverse > .media__body { margin-left: 70px; margin-right: 56px; }

.plan { margin-top: 60px; }

.plan__sub-title { margin-top: 40px; }

.slider__item { margin-top: 60px; }

.card { width: 322px; height: 407px; margin: 0 auto; z-index: 0; }

@media screen and (max-width: 768px) { .card { width: 100%; } }

.card__img-wrapper { text-align: center; }

.card__img { height: 210px; -o-object-fit: cover; object-fit: cover; }

@media screen and (max-width: 768px) { .card__img { height: 100%; } }

.card__body { background-color: #fff; padding: 24px 25px 50px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; }

.card__text { color: #000; }

@media screen and (max-width: 768px) { .card__text { font-size: 2.4rem; } }

.card__price { color: #000; margin-top: 66px; }

@media screen and (max-width: 768px) { .card__price { font-size: 2.4rem; } }

.card__price span { color: #ff0000; }

.services-wrapper { margin-top: 96px; }

@media screen and (max-width: 768px) { .services-wrapper { margin-top: 60px; } }

.services-wrapper .services { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.services-wrapper .services--col3 { margin-bottom: -30px; }

@media screen and (max-width: 768px) { .services-wrapper .services--col3 { margin-bottom: -55px; } }

.services-wrapper .services--col3 > .services__item { width: 28.5%; height: 387px; margin-right: 2.2%; margin-bottom: 30px; }

@media screen and (max-width: 768px) { .services-wrapper .services--col3 > .services__item { width: 80%; margin-right: 0; margin-bottom: 55px; } }

.services-wrapper .services--col3 > .services__item:nth-of-type(3n) { margin-right: 0; }

.services-wrapper .service { background-color: #e5e5e5; }

.services-wrapper .service__img-wrapper { margin-top: 33px; }

.services-wrapper .service__img { width: 33%; }

.services-wrapper .service__title { color: #333333; margin-top: 22px; font-size: 2.8rem; }

.services-wrapper .service__text { color: #333333; margin: 38px 23px 0px; }

.blog__title { margin-top: 60px; }

.blog__sub-title { margin-top: 40px; }

.news { margin-top: 65px; }

@media screen and (max-width: 768px) { .news { margin-top: 53px; } }

.news .news-nav__item { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; margin-bottom: 30px; }

@media screen and (max-width: 768px) { .news .news-nav__item { margin-bottom: 25px; } }

.news .news-nav__item:last-child { margin-bottom: 0; }

.news .news-nav__badge { display: inline-block; font-size: 1.4rem; background-color: #4d0000; width: 157px; padding: 9px 0px; margin-left: 110px; }

@media screen and (max-width: 768px) { .news .news-nav__badge { width: 92px; } }

@media screen and (max-width: 768px) { .news .news-nav__badge { margin-left: 76px; } }

.news .news-nav__text { text-align: left; font-size: 2.4rem; margin-left: 30px; text-decoration: underline; }

@media screen and (max-width: 768px) { .news .news-nav__text { max-width: 533px; margin-left: 15px; } }

.news__btn { margin-top: 75px; }

.faq { padding-bottom: 70px; }

@media screen and (max-width: 768px) { .faq { padding-bottom: 88px; } }

.faq__title { margin-top: 60px; }

.faq__sub-title { margin-top: 60px; }

@media screen and (max-width: 768px) { .faq__sub-title { margin-top: 34px; } }

.faq .faq-list { font-size: 1.6rem; margin: 60px auto 0px; color: #333333; width: 907px; }

@media screen and (max-width: 768px) { .faq .faq-list { margin: 52px auto 0px; } }

@media screen and (max-width: 768px) { .faq .faq-list { width: 100%; } }

.faq .faq-list__title { border: 1px solid #E5E5E5; background-color: #fff; padding: 20px 50px; cursor: pointer; }

.faq .faq-list__description { display: none; text-align: left; border: 1px solid #E5E5E5; background-color: #f2f2f2; padding: 25px 50px; }

.footer { background-color: #4d0000; }

.footer__nav { padding-top: 62px; }

@media screen and (max-width: 768px) { .footer__nav { padding-top: 33px; } }

.footer__img-wrapper { margin-top: 62px; }

@media screen and (max-width: 768px) { .footer__img-wrapper { margin-top: 82px; } }

.footer__img { width: 188px; height: 70px; }

.footer__copyright { margin-top: 20px; padding-bottom: 42px; }

@media screen and (max-width: 768px) { .footer__copyright { padding-bottom: 38px; } }

.footer-nav { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.footer-nav__item { font-size: 1.6rem; margin-right: 50px; }

@media screen and (max-width: 768px) { .footer-nav__item { margin-right: 47px; } }

.footer-nav__item:last-child { margin-right: 0; }

.btn { display: inline-block; width: 155px; max-width: 100%; padding: 11px 0px; background-color: #B8860BEA; border-radius: 5px; -webkit-box-shadow: 0px 3px 6px #00000029; box-shadow: 0px 3px 6px #00000029; text-align: center; text-decoration: none; -webkit-transition: 0.25s; transition: 0.25s; color: white; font-size: 1.4rem; }
