.btn {
    display: inline-block;
    width: 155px;
    max-width: 100%;
    padding: 11px 0px;
    background-color: #B8860BEA;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #00000029;
    text-align: center;
    text-decoration: none;
    transition: 0.25s;
    color: white;
    font-size: 1.4rem;
}